.sidebar {
    background-color: #FB6542;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.sidebar_list>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px
}

.nav_call_btn>a {
    color: #375E97;
    background: #fff;
    width: "100%";
    cursor: pointer
}

.nav_call_btn>a:hover {
    color: #fff;
    background: #375E97;
    width: "100%"
}